.body__container {
  min-height: 100vh;
  line-height: 120%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 1);
}
.header__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 .5rem;
  height: 15vh;
  align-items: center;
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
  align-content: space-between;
  justify-content: space-between;
}
.header__container:first-child {
  padding: 0.5rem;
} 
.header__div {
  display: flex;
}
.header__h1 > a {
  display: flex;
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-size: 1.5rem;
}
.h1__span {
  align-self: center;
  margin-left: .2rem;
}
.header__button {
  color: rgba(255,255,255,1);
  background-color: inherit;
  border: none;
  font-size: 1.3rem;
  display: flex;
  outline: none;
}
.header__span {
  align-self: center;
}
.header__span > a {
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-size: 1.3rem;
}
.aside__container {
  gap: 0;
  background-color: rgba(138, 198, 191, 0.9);
  height: 100%;
  width: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  transition: 0.5s;
}
.aside__button {
  font-size: 1.3rem;
  display: grid;
  border: none;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(138, 198, 191, 0.001);
  border-radius: 3px;
  margin: 0 auto;
  outline: none;
}
.cancel-side-bar {
  margin: 0 0 0 auto;
  font-size: 2rem;
}
.aside__form {
  display: grid;
  gap: 0.6rem;
  box-sizing: border-box;
  padding: 0 1rem;
  margin: 1rem 0;
}
#aside__form-selectmembers {
  display: none;
  overflow-y: scroll;
  max-height: 90vh;
  margin: 0.2rem 0;
  position: relative;
}
#aside__form-selectmembers > input[type = 'submit'] {
  position: fixed;
  bottom: 0;
  left: 5px;
  width: 240px;
  margin: 0.5rem 0;
}
#aside__form-selectmembers > div {
  width: 100%;
  padding: 1rem 0 1rem 0;
  overflow-y: scroll;
}
.aside__form > label {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}
.aside__form > span {
  font-weight: bold;
  text-align: center;
}
.aside__form > input {
  height: 1.5rem;
  margin: .1rem 0;
  padding: .3rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
.aside__form > input[type='submit'] {
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
}
.aside__form > div {
  margin: 0 auto 0 0;
}
.main__container {
  min-height: 75vh;
  box-sizing: border-box;
  padding: 1rem;
}
.section__header {
  padding: 0.8rem;
  font-weight: bold;
  display: grid;
  justify-content: center;
}
.section__inbox > div {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-bottom:solid 1px rgba(0,0,0,1);
  padding: .3rem 0;
}
.section__inbox > div > .inbox-sender {
  font-weight: bold;
  margin-bottom: .8rem;
}
.section__inbox > div > span {
  margin: 0 1rem;
}

/*Styles for the compose message section starts here*/
.compose-mail {
    display: none;
}
.input-address {
  display: block;
  background-color: white;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,1);
  width: 100%;
  height: 10vh;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.message-box{
  display: block;
  border: none;
  height: 40vh;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: auto;
  margin-top: 0.5rem;
}
label {
  display: block;
  font-size: 1.3rem;
}
/*Styles for the compose message section ends here*/
.section__readmail, .section__readsentmail, .section__readdraft {
  display: none;
  grid-template-columns: repeat(12, 1fr);
}
.section__readmail > div, .section__readsentmail > div, .section__readdraft > div {
  grid-column: 2/12;
  padding: 0.4rem 0;
}
.section__readmail > div > span, .section__readsentmail > div > span, .section__readdraft > div > span {
  font-weight: bold;
}
.section__readmail > .reply-message, .section__readdraft > .draft-edit {
  grid-column: 2/12;
  display: none;
  grid-gap: 0.5rem;
  margin: 0.5rem 0 1rem 0;
  
}
.section__readmail > .reply-message > textarea, .section__readdraft > .draft-edit > textarea {
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 1rem;
  border: solid 1px rgba(1, 57, 92, 1);
  outline: none;
}
.section__readmail > .reply-message > input, .section__readdraft > .draft-edit > input {
  height: 1.5rem;
  margin: 0.1rem 0;
  padding: 0.3rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
.section__readmail > .reply-message > input[type = 'submit'], .section__readdraft > .draft-edit > input[type = 'submit'] {
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
}

/* styles for sent messages starts here*/
.section__sentmessages {
  display: none;
}
.section__sentmessages > div {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  border-bottom:solid 1px rgba(0,0,0,1);
  padding: 0.3rem 0;
}
.section__sentmessages > div > .sent-sender {
  font-weight: bold;
  margin-bottom: .8rem;
}
.section__sentmessages > div > span {
  margin: 0 1rem;
}

/* styles for drafts here*/
.section__draftmail {
  display: none;
}
.section__draftmail > div {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-bottom:solid 1px rgba(0,0,0,1);
  padding: 0.6rem 0;
}
.section__draftmail > div > .draft-subject {
  font-weight: bold;
  margin-bottom: .4rem;
}
.section__draftmail > div > span {
  margin: 0 1rem;
}

.footer__container {
  display: flex;
  height: 10vh;
  font-size: 0.7rem;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
}
@media screen and (min-width: 300px) {
  
  .header__container {
    display: flex;
    flex-direction: row;
    padding: 0 .5rem;
    height: 15vh;
    align-items: center;
    background-color: rgba(1, 57, 92, 1);
    color: rgba(255,255,255,1);
    justify-content: space-between;
    align-content: center;
  }
  .header__div {
    display: flex;
  }
  .header__h1 > a {
    display: flex;
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-size: 1.5rem;
  }
  .h1__span {
    align-self: center;
    margin-left: .2rem;
  }
  .header__button {
    color: rgba(255,255,255,1);
    background-color: inherit;
    border: none;
    font-size: 1.3rem;
    display: flex;
    outline: none;
  }
  .header__span {
    align-self: center;
  }
  .header__span > a {
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-size: 1.3rem;
  }
}
