.body__container {
  min-height: 100vh;
  line-height: 120%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 1);
}
.header__container {
  display: flex;
  padding: 0 .5rem;
  height: 15vh;
  align-items: center;
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
  justify-content: space-between;
}
.header__div {
  display: flex;
}
.header__h1 > a {
  display: flex;
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-size: 1.5rem;
}
.h1__span {
  align-self: center;
}
.header__button {
  color: rgba(255,255,255,1);
  background-color: inherit;
  border: none;
  font-size: 1.3rem;
  display: flex;
  outline: none;
}
.header__span {
  align-self: center;
}
.header__span > a {
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-size: 1.3rem;
}
.aside__container {
  background-color: rgba(138, 198, 191, 0.9);
  height: 100%;
  width: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: grid;
  transition: 0.5s;
}
.aside__button {
  font-size: 1.3rem;
  border: none;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(138, 198, 191, 0.001);
  border-radius: 3px;
  margin: 0;
  outline: none;
}
.cancel-side-bar {
  justify-self: right;
  font-size: 2rem;
}
.main__container {
  min-height: 75vh;
  box-sizing: border-box;
}
.section__header {
  padding: 0.4rem;
  font-weight: bold;
  display: grid;
  justify-content: center;
}
.section__inbox > div {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-top:solid 1px rgba(0,0,0,1);
  border-bottom:solid 1px rgba(0,0,0,1);
  padding: 0.1rem 0;
}
.section__inbox > div > .inbox-sender {
  font-weight: bold;
}
.section__inbox > div > span {
  margin: 0 1rem;
}

/*Styles for the compose message section starts here*/
.input-address {
  display: block;
  background-color: white;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,1);
  width: 100%;
  height: 10vh;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.message-box{
  display: block;
  border: none;
  height: 40vh;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: auto;
  margin-top: 0.5rem;
}
label {
  display: block;
  font-size: 1.5rem;
}
/*Styles for the compose message section ends here*/
.section__readmail, .section__readsentmail, .section__readdraft {
  display: none;
  grid-template-columns: repeat(12, 1fr);
}
.section__readmail > div, .section__readsentmail > div, .section__readdraft > div {
  grid-column: 2/12;
  padding: 0.1rem 0;
}
.section__readmail > div > span, .section__readsentmail > div > span, .section__readdraft > div > span {
  font-weight: bold;
}
.section__readmail > .reply-message, .section__readdraft > .draft-edit {
  grid-column: 2/12;
  display: none;
  grid-gap: 0.5rem;
  margin: 0.5rem 0 1rem 0;
  
}
.section__readmail > .reply-message > textarea, .section__readdraft > .draft-edit > textarea {
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  outline: none;
}
.section__readmail > .reply-message > input, .section__readdraft > .draft-edit > input {
  height: 1.5rem;
  margin: 0.1rem 0;
  padding: 0.3rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
.section__readmail > .reply-message > input[type = 'submit'], .section__readdraft > .draft-edit > input[type = 'submit'] {
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
}

/* styles for sent messages starts here*/
.section__sentmessages {
  display: none;
}
.section__sentmessages > div {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  border-top:solid 1px rgba(0,0,0,1);
  border-bottom:solid 1px rgba(0,0,0,1);
  padding: 0.1rem 0;
}
.section__sentmessages > div > .sent-sender {
  font-weight: bold;
}
.section__sentmessages > div > span {
  margin: 0 1rem;
}

/* styles for drafts here*/
.section__draftmail {
  display: none;
}
.section__draftmail > div {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-top:solid 1px rgba(0,0,0,1);
  border-bottom:solid 1px rgba(0,0,0,1);
  padding: 0.6rem 0;
}
.section__draftmail > div > .draft-subject {
  font-size: 1.8rem;
  font-weight: bold;
}
.section__draftmail > div > span {
  margin: 0 1rem;
}

.footer__container {
  display: flex;
  height: 10vh;
  font-size: 0.7rem;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
}
