.body__container {
  min-height: 100vh;
  line-height: 120%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: minmax(200px,);
  background-color: rgba(255, 255, 255, 1);
  background: url(https://images.unsplash.com/photo-1526554850534-7c78330d5f90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  object-fit: contain;
}
.header__container {
  display: flex;
  padding-left: .5rem;
  height: 15vh;
  align-items: center;
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
}
.header__h1 > a {
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-size: 1.5rem;
}
.h1__span {
  align-self: center;
}
.main__container {
  min-height: 75vh;
  justify-items: center;
  display: grid;
  grid-template-rows: 1fr 8fr;
}
.main__container > div {
  align-self: center;
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}
.form__container {
  display: grid;
  background-color: rgba(138, 198, 191, 0.8);
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  align-self: center;
}
.form__container > span:first-child {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}
.form__container > input {
  height: 1.5rem;
  margin: 0.5rem 0;
  padding: 0.1rem;
  border-radius: 5px;
  border: none;
}
.form__container > input:valid[required] {
  border: rgba(0,255,0,1) solid 1px;
  box-sizing: border-box;
}
.form__container > input[type="submit"],
.form__container > input[type="reset"] {
  margin: 0.5rem 0;
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
} 
.form__container > span {
  text-align: center;
}
.form__a {
  text-decoration: none;
}
.form__span-output {
  color: rgba(0,0,0,1);
}
.footer__container {
  display: flex;
  height: 10vh;
  font-size: 0.7rem;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  background-color: rgba(1, 57, 92, 1);
  color: rgba(255,255,255,1);
}
@media(min-width: 375px) {
  .form__container {
      width: 70%;
  }
}
@media(min-width: 768px) {
  .form__container {
      width: 40%;
  }
}
@media(min-width: 1024px) {
  .form__container {
      width: 30%;
  }
}